body{
    background-color: #435165;
}
nav{
    height: 100px;
    width: 100%;
}
.left-nav{
    margin-left: 100px;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}
.right-nav{
    margin-right:100px;
    float:right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}
nav li{
    margin-right:50px;
    margin-left:50px;
    text-decoration: none;
}
.main-container{
    position: relative;
}
.cart-container h1{
    position: relative;
    left: 5%;
    top: 10px;
}
.cart-container{
    width:65%;
    position: relative;
    left:20%;
    top: 100px;
    background-color: aliceblue;
    min-height: 600px;
}
.cart_card{
    height: 100px;
    width: 90%;
    position: relative;
    left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product_info{
    margin: 10px;
}
.cart_card img{
    position: relative;
    left: 0;
    height: 90px;
    top:5px;
}
.quantity{
    margin-left: auto;
}
.checkout-container{
    margin-top: 200px;
    margin-bottom: 200px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 90%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  