*{
    background-color: #435165;
}
nav{
    height: 100px;
    width: 100%;
}
.left-nav{
    margin-left: 100px;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}
.right-nav{
    margin-right:100px;
    float:right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}
nav li{
    margin-right:50px;
    margin-left:50px;
    text-decoration: none;
}
.main-container h1{
    position: relative;
    text-align: center;
}
.filters-container{
    float: left;
    width: 15%;
    position: relative;
    left: 5%;
}
.filters-container ul{
    font-size: 16pt;
    font-weight: bold;
    list-style: none;
}
.filters-container li{
    width: 100px;
    font-size: 12pt;
    font-weight: lighter;
}
.filters-container input{
    position: absolute;
    left: 10px;
}
.products-container{
    float: right;
    position: relative;
    left: 0;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}
.product_card{
    height: 350px;
    max-width: 300px;
    flex: 1 0 300px;
    margin: 5px;
    background: rgb(151, 191, 226);
    box-shadow: 2px 2px 2px;
    text-align: center;
    transition: ease .25s;
    position: relative;
    border-radius: 3px;
}
.product_card:hover{
    transition: ease-out .5s;
    box-shadow: 2px 2px 3px 3px;
}
.product_card img{
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.product_card button{
    margin-bottom: 0px;
    position: absolute;
    bottom:0px;
    left: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    color: black;
    border: none;
    padding: none;
    margin: none;
    height: 15%;
    text-align: center;
    border-radius: 0px 0px 2px 2px;
    transition: ease 1s;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.product_card button:after{
    content: "";
    background: #ffffff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.product_card button:active:after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.product_card button:hover{
    background-color: rgb(209, 209, 209);
    transition: 1s ease-out;
}
.product_card p{
    background: rgb(151, 191, 226);
}


